In [1]:
import pandas as pd
from pandas_geojson import to_geojson

In [2]:
data = pd.read_csv('all_activites.csv')
data_df = pd.DataFrame(data)
data_df.head()

,Unnamed: 0,id,name,start_date_local,type,distance,moving_time,elapsed_time,total_elevation_gain,end_latlng,average_heartrate,average_cadence,elev_high,elev_low,gear_id
0,0,8517792446,Treadmill,2023-02-06T15:35:19Z,Run,10242.8,3008,3008,0.0,[],130.9,85.5,1337.0,1332.8,g9558973
1,1,8515121591,Morning Yoga,2023-02-06T07:04:48Z,Yoga,0.0,1293,1293,0.0,[],68.8,NaN,NaN,NaN,NaN
2,2,8512549835,Treadmill,2023-02-05T15:12:59Z,Run,6463.8,2187,2187,0.0,[],116.8,85.0,NaN,NaN,g9558973
3,3,8501636441,RUFA,2023-02-03T19:00:02Z,Run,33364.4,18363,19339,2515.0,"[40.6977161206305, -111.74283963628113]",142.7,73.0,2512.8,1743.4,g12058101
4,4,8493247174,Morning Trail Run,2023-02-02T06:26:07Z,Run,13803.4,5107,5345,485.0,"[40.77960739843547, -111.88554346561432]",134.9,89.3,1770.6,1358.2,g12058101

In [3]:
data_df[['lat','lng']] = data_df['end_latlng'].str.split(',',expand=True)
data_df['latitude'] = data_df['lat'].str.replace('[','')
data_df['latitude'] = data_df['latitude'].str.replace(']', '0')
data_df['longitude'] = data_df['lng'].str.replace(']','')
data_df['longitude'] = data_df['longitude'].str.replace('[', '0')
data_df[['date', 'time']] = data_df['start_date_local'].str.split('T', expand=True)
data_df['time'] = data_df['time'].str.replace('Z','')
data_df

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

TypeError: repl must be a string or callable

In [ ]:
columns = ['id', 'name', 'date', 'time', 'type', 'distance',
       'moving_time', 'elapsed_time', 'total_elevation_gain',
       'average_heartrate', 'average_cadence', 'elev_high', 'elev_low',
       'gear_id', 'latitude', 'longitude']

data_df = data_df[columns]
data_df.head()

In [ ]:
# data_df['longitude'] = data_df['longitude'].astype(float)
# data_df['latitude'] = data_df['latitude'].astype(float)
# data_df

In [ ]:
# data_df['time'] = pd.to_datetime(data_df['time'])
data_df.dtypes

In [ ]:
data_df_filtered = data_df.loc[data_df['type'] == 'Run']
data_df_filtered.fillna(0, inplace=True)
data_df_filtered

In [ ]:
geo_json = to_geojson(df=data_df_filtered, lat='latitude', lon='longitude',
                 properties=['id', 'name', 'date', 'time', 'type', 'distance',
       'moving_time', 'elapsed_time', 'total_elevation_gain',
       'average_heartrate', 'average_cadence', 'elev_high', 'elev_low',
       'gear_id', 'latitude', 'longitude'])

from pandas_geojson import write_geojson
write_geojson(geo_json, filename='strava_data2.json', indent=4)