In [22]:
import pandas as pd
from pandas_geojson import to_geojson

In [23]:
data = pd.read_csv('all_activites.csv')
data_df = pd.DataFrame(data)
data_df.head()

,Unnamed: 0,id,name,start_date_local,type,distance,moving_time,elapsed_time,total_elevation_gain,end_latlng,average_heartrate,average_cadence,elev_high,elev_low,gear_id
0,0,8517792446,Treadmill,2023-02-06T15:35:19Z,Run,10242.8,3008,3008,0.0,[],130.9,85.5,1337.0,1332.8,g9558973
1,1,8515121591,Morning Yoga,2023-02-06T07:04:48Z,Yoga,0.0,1293,1293,0.0,[],68.8,NaN,NaN,NaN,NaN
2,2,8512549835,Treadmill,2023-02-05T15:12:59Z,Run,6463.8,2187,2187,0.0,[],116.8,85.0,NaN,NaN,g9558973
3,3,8501636441,RUFA,2023-02-03T19:00:02Z,Run,33364.4,18363,19339,2515.0,"[40.6977161206305, -111.74283963628113]",142.7,73.0,2512.8,1743.4,g12058101
4,4,8493247174,Morning Trail Run,2023-02-02T06:26:07Z,Run,13803.4,5107,5345,485.0,"[40.77960739843547, -111.88554346561432]",134.9,89.3,1770.6,1358.2,g12058101

In [24]:
data_df[['lat','lng']] = data_df['end_latlng'].str.split(',',expand=True)
data_df['latitude'] = data_df['lat'].str.replace('[','')
data_df['latitude'] = data_df['latitude'].str.replace(']','0')
data_df['longitude'] = data_df['lng'].str.replace(']','')
data_df['longitude'] = data_df['longitude'].str.replace('[','0')
data_df[['date', 'time']] = data_df['start_date_local'].str.split('T', expand=True)
data_df['time'] = data_df['time'].str.replace('Z','')
data_df

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """

,Unnamed: 0,id,name,start_date_local,type,distance,moving_time,elapsed_time,total_elevation_gain,end_latlng,...,average_cadence,elev_high,elev_low,gear_id,lat,lng,latitude,longitude,date,time
0,0,8517792446,Treadmill,2023-02-06T15:35:19Z,Run,10242.8,3008,3008,0.0,[],...,85.5,1337.0,1332.8,g9558973,[],None,0,None,2023-02-06,15:35:19
1,1,8515121591,Morning Yoga,2023-02-06T07:04:48Z,Yoga,0.0,1293,1293,0.0,[],...,NaN,NaN,NaN,NaN,[],None,0,None,2023-02-06,07:04:48
2,2,8512549835,Treadmill,2023-02-05T15:12:59Z,Run,6463.8,2187,2187,0.0,[],...,85.0,NaN,NaN,g9558973,[],None,0,None,2023-02-05,15:12:59
3,3,8501636441,RUFA,2023-02-03T19:00:02Z,Run,33364.4,18363,19339,2515.0,"[40.6977161206305, -111.74283963628113]",...,73.0,2512.8,1743.4,g12058101,[40.6977161206305,-111.74283963628113],40.6977161206305,-111.74283963628113,2023-02-03,19:00:02
4,4,8493247174,Morning Trail Run,2023-02-02T06:26:07Z,Run,13803.4,5107,5345,485.0,"[40.77960739843547, -111.88554346561432]",...,89.3,1770.6,1358.2,g12058101,[40.77960739843547,-111.88554346561432],40.77960739843547,-111.88554346561432,2023-02-02,06:26:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3036,3036,71444482,"02/09/2013 Salt Lake City, UT",2013-02-09T16:09:50Z,Run,6528.2,2082,2245,123.2,"[40.773366, -111.871489]",...,NaN,1479.2,1356.1,NaN,[40.773366,-111.871489],40.773366,-111.871489,2013-02-09,16:09:50
3037,3037,71444492,"02/07/2013 Salt Lake City, UT",2013-02-07T16:11:28Z,Run,11160.8,4653,4751,317.5,"[40.771899, -111.833911]",...,NaN,1683.2,1515.2,NaN,[40.771899,-111.833911],40.771899,-111.833911,2013-02-07,16:11:28
3038,3038,71444496,"02/05/2013 Salt Lake City, UT",2013-02-05T16:24:48Z,Run,9060.7,3770,3888,233.6,"[40.771927, -111.833945]",...,NaN,1683.0,1516.6,NaN,[40.771927,-111.833945],40.771927,-111.833945,2013-02-05,16:24:48
3039,3039,71444500,"02/03/2013 Salt Lake City, UT",2013-02-03T13:02:46Z,Run,7635.0,2281,2415,69.2,"[40.738919, -111.848747]",...,NaN,1383.2,1342.2,NaN,[40.738919,-111.848747],40.738919,-111.848747,2013-02-03,13:02:46
3040,3040,71444498,"02/02/2013 Salt Lake City, UT",2013-02-02T15:52:49Z,Run,7188.7,2226,2278,118.4,"[40.773415, -111.871441]",...,NaN,1433.0,1330.3,NaN,[40.773415,-111.871441],40.773415,-111.871441,2013-02-02,15:52:49

In [25]:
columns = ['id', 'name', 'date', 'time', 'type', 'distance',
       'moving_time', 'elapsed_time', 'total_elevation_gain',
       'average_heartrate', 'average_cadence', 'elev_high', 'elev_low',
       'gear_id', 'latitude', 'longitude']

data_df = data_df[columns]
data_df.head()

,id,name,date,time,type,distance,moving_time,elapsed_time,total_elevation_gain,average_heartrate,average_cadence,elev_high,elev_low,gear_id,latitude,longitude
0,8517792446,Treadmill,2023-02-06,15:35:19,Run,10242.8,3008,3008,0.0,130.9,85.5,1337.0,1332.8,g9558973,0,None
1,8515121591,Morning Yoga,2023-02-06,07:04:48,Yoga,0.0,1293,1293,0.0,68.8,NaN,NaN,NaN,NaN,0,None
2,8512549835,Treadmill,2023-02-05,15:12:59,Run,6463.8,2187,2187,0.0,116.8,85.0,NaN,NaN,g9558973,0,None
3,8501636441,RUFA,2023-02-03,19:00:02,Run,33364.4,18363,19339,2515.0,142.7,73.0,2512.8,1743.4,g12058101,40.6977161206305,-111.74283963628113
4,8493247174,Morning Trail Run,2023-02-02,06:26:07,Run,13803.4,5107,5345,485.0,134.9,89.3,1770.6,1358.2,g12058101,40.77960739843547,-111.88554346561432

In [26]:
# data_df['longitude'] = data_df['longitude'].astype(float)
# data_df['latitude'] = data_df['latitude'].astype(float)
# data_df

In [27]:
# data_df['time'] = pd.to_datetime(data_df['time'])
data_df.dtypes

id                        int64
name                     object
date                     object
time                     object
type                     object
distance                float64
moving_time               int64
elapsed_time              int64
total_elevation_gain    float64
average_heartrate       float64
average_cadence         float64
elev_high               float64
elev_low                float64
gear_id                  object
latitude                 object
longitude                object
dtype: object

In [30]:
data_df_filtered = data_df.loc[data_df['type'] == 'Run']
data_df_filtered.fillna('0.0')

,id,name,date,time,type,distance,moving_time,elapsed_time,total_elevation_gain,average_heartrate,average_cadence,elev_high,elev_low,gear_id,latitude,longitude
0,8517792446,Treadmill,2023-02-06,15:35:19,Run,10242.8,3008,3008,0.0,130.9,85.5,1337.0,1332.8,g9558973,0,0
2,8512549835,Treadmill,2023-02-05,15:12:59,Run,6463.8,2187,2187,0.0,116.8,85.0,0,0,g9558973,0,0
3,8501636441,RUFA,2023-02-03,19:00:02,Run,33364.4,18363,19339,2515.0,142.7,73.0,2512.8,1743.4,g12058101,40.6977161206305,-111.74283963628113
4,8493247174,Morning Trail Run,2023-02-02,06:26:07,Run,13803.4,5107,5345,485.0,134.9,89.3,1770.6,1358.2,g12058101,40.77960739843547,-111.88554346561432
5,8484734167,Afternoon Trail Run,2023-01-31,14:13:57,Run,11808.9,5443,5602,586.0,124.3,83.0,1926.6,1472.8,g12058101,40.7540968246758,-111.82563548907638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3036,71444482,"02/09/2013 Salt Lake City, UT",2013-02-09,16:09:50,Run,6528.2,2082,2245,123.2,0,0,1479.2,1356.1,0,40.773366,-111.871489
3037,71444492,"02/07/2013 Salt Lake City, UT",2013-02-07,16:11:28,Run,11160.8,4653,4751,317.5,0,0,1683.2,1515.2,0,40.771899,-111.833911
3038,71444496,"02/05/2013 Salt Lake City, UT",2013-02-05,16:24:48,Run,9060.7,3770,3888,233.6,0,0,1683.0,1516.6,0,40.771927,-111.833945
3039,71444500,"02/03/2013 Salt Lake City, UT",2013-02-03,13:02:46,Run,7635.0,2281,2415,69.2,0,0,1383.2,1342.2,0,40.738919,-111.848747
3040,71444498,"02/02/2013 Salt Lake City, UT",2013-02-02,15:52:49,Run,7188.7,2226,2278,118.4,0,0,1433.0,1330.3,0,40.773415,-111.871441

In [29]:
geo_json = to_geojson(df=data_df_filtered, lat='latitude', lon='longitude',
                 properties=['id', 'name', 'date', 'time', 'type', 'distance',
       'moving_time', 'elapsed_time', 'total_elevation_gain',
       'average_heartrate', 'average_cadence', 'elev_high', 'elev_low',
       'gear_id', 'latitude', 'longitude'])

from pandas_geojson import write_geojson
write_geojson(geo_json, filename='strava_data.json', indent=4)